:host {
    display: flex;
    flex: 1;
    height: max-content;
    overflow: auto;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.mat-mdc-card-image {
  width: 100%;
  object-fit: contain; /* Масштабирование изображения, чтобы оно целиком поместилось в контейнере */
  border: 6px solid rgba(80, 64, 52, 0.99); /* Цвет и толщина рамки */
  box-shadow: 2px 2px 5px rgba(63, 63, 65, 0.67);

}

.image-container {
  width: 220px; /* Ширина контейнера */
  height: 220px; /* Высота контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
  //overflow: hidden; /* Скрытие части изображения, которая может выходить за пределы контейнера */
  position: relative; /* Позиционирование для рамки */

}



.content-container {
    display: grid;
}

.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
}

mat-card {
  display: flex;
  max-height: max-content;
  box-shadow: none !important;
  background: inherit;
  transition: .4s;
  min-height: 320px;

  mat-card-header {
    align-items: center;
  }

    mat-card-header,
    mat-card-subtitle,
    mat-card-content {
        flex: 1;
    }

    mat-card-subtitle {
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    mat-card-title {
      font-size: 18px;
      color: rgb(75, 73, 71);
      font-family: Pacifico, "Helvetica Neue", sans-serif;
      font-weight: normal;
    }

}
mat-card:hover{
    background-position: 0 20%;
}

mat-sidenav {
  background: rgba(178, 160, 121, 0.1);
    width: 300px;
    padding-left: 20px;
}

mat-sidenav-content {
    margin-left: 300px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.filters.search {
    padding-top: 24px;
}



.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    padding: 20px;
}

mat-sidenav-container {
  background: inherit;
  height: 100%;
}

.filters.search {
    display: flex;
}

mat-checkbox{
    --mdc-checkbox-selected-focus-state-layer-color: transparent !important;
    --mdc-checkbox-unselected-focus-state-layer-color: transparent !important;
    --mdc-checkbox-unselected-pressed-state-layer-color: transparent !important;
    --mdc-checkbox-selected-pressed-state-layer-color: transparent !important;
}
