:host {
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.mat-mdc-tab-nav-bar {
  display: flex;
  height: 50px;
  background: rgb(19 37 47 / 25%);
  z-index: 2;
}