<mat-form-field appearance="outline">
    <mat-label>Поиск по имени</mat-label>
    <input matInput [formControl]="searchControl" (keydown.enter)="onSearch(searchControl.value )" placeholder="Ввведите имя">
    <mat-icon matSuffix (click)="onSearch(searchControl.value )">search</mat-icon>
</mat-form-field>
<div class="content-container">
    @for (author of artists; track author) {
    <mat-card (click)="onGoToPictures(author)" class="card">
        <mat-card-header>
            <img mat-card-image [src]="author.path" alt="">
        </mat-card-header>
        <mat-card-subtitle>
            <mat-card-title>{{author.name}}</mat-card-title>
        </mat-card-subtitle>
    </mat-card>
    }
</div>