:host {
    display: flex;
    flex: 1;
    height: max-content;
    overflow: auto;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;
  //align-items: center;
}

.mat-mdc-card-image {
    width: 220px;
    height: 220px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 2px 2px 7px rgba(93, 93, 96, 0.28) !important;
}

.content-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 10px;
}

mat-card {
  display: flex;
  max-height: max-content;
  box-shadow: none !important;
  background: inherit;
  transition: .4s;
  min-height: 320px;

    mat-card-header,
    mat-card-subtitle,
    mat-card-content {
        flex: 1;
    }

    mat-card-subtitle {
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    mat-card-title {
      font-size: 18px;
      font-family: Pacifico, "Helvetica Neue", sans-serif;
      font-weight: normal;
      color: rgb(75, 73, 71);

    }

}
mat-card:hover{
    background-position: 0 20%;
}
