@import './theme.scss';


html,
body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    font-family: Pacifico, sans-serif;
    margin: 0;
}

* {
  font-family: Pacifico, "Helvetica Neue", sans-serif;
  transform: 0.3s;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer-content {
    display: flex;
    flex: 1;
    height: 100%;
}
